<?xml version="1.0" encoding="UTF-8"?>
<pluginMetaData path="coconut">
    <name>Coconut</name>
    <author>Sereen Systems</author>
    <pluginVersion>${project.version}</pluginVersion>
    <mirthVersion>${mc.versions}</mirthVersion>
    <url>https://sereen.io</url>
    <description>Mirth Connect plugin for loading CSV files using DuckDb and generating Java models dynamically</description>

    <serverClasses>
        <string>io.sereen.coconut.CoconutPlugin</string>
    </serverClasses>

    <library type="SERVER" path="coconut-${project.version}.jar" />
    <library type="SERVER" path="duckdb_jdbc-${duckdb.version}.jar" />
</pluginMetaData>